package day$currentDayLong$

import runAssert

fun main() {
    fun part1(input: List<String>): Int {

        return 0
    }

    fun part2(input: List<String>): Int {

        return 0
    }

    println("Part 1:")
    runAssert(
        $currentDayShort$,
        1,
        1,
        ::part1
    )

    println()
    println("Part 2:")

    runAssert(
        $currentDayShort$,
        1,
        1,
        ::part2
    )
}

